@font-face {
	font-family: AvenirNext;
	src: url(../fonts/Avenir-Next-Font.ttf);
}
@font-face {
	font-family: AvenirNextBold;
	src: url(../fonts/Metropolis-SemiBold.otf);
}
@font-face {
	font-family: FinancierDisplay;
	src: url(../fonts/TestFinancierDisplay-Bold.otf);
}