.bdc_container{
    overflow: hidden;
    // .bdc_navbar {
    //   padding: 1rem 0rem;  
    // }
    
    .bdc_navbar_background{
        background-image: url("../../../public/images/maps.svg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height:100vh;
        @media (max-width:764px){
            height:50vh;
        }
    }

    .containing_background_content{
        margin: 0 6rem;
        @media (max-width:764px){
            margin:1em;
            text-align: center;
        }
    }

    .bdc_header_content{
        display: grid;
        grid-template-columns: 55% repeat(2, 1fr);
        @media (max-width: 764px){
            grid-template-columns: 1fr;
        } 
        h5{
            font-family: FinancierDisplay;
            margin-left: 2rem;
            font-weight: bold;
            font-size: 45px;
            line-height: 64px;
            letter-spacing: 0.03em;
            color: #223F59;
            margin: 150px 0px 0px;
            @media (max-width: 764px){
                font-weight: bold;
                font-size: 20px;
                letter-spacing: 0.03em;
                color: #223F59;
                margin: 80px 0px 0px;                
                line-height: 27px;
                text-align: center;
            }
        }
        span{
            color: #0BA759;
        }
        small{
            font-size: 17px;
            line-height: 28px;
            letter-spacing: 0.03em;
            color: #223F59;
        }
        button{
            font-size: 14px;
            @media (max-width: 764px){
                margin-top:5%;
            }
        }
        .fyn_gurl{
            max-width:720px;
            height: 80vh;
            margin-left:-40%;
            margin-top: 9%;
        }
        .dollars{
            position: absolute;
            width: 250px;
            top: 70%;
            left: 55%;
        }
    }
}

    .bdc_about{
        background: #F5F8FA;
        margin-left: -15px;
        margin-right: -15px;
        padding: 5% 10%;
        height: 100vh;
        .bdc_about_content{
            margin-top: 10%;
            text-align: center;
            h3{
                font-family: FinancierDisplay;
                font-weight: bold;
                font-size: 56px;
                line-height: 61px;
                text-align: center;
                letter-spacing: 0.03em;
                color: #223F59;
                margin: 24px 0px;
                @media (max-width:764px){
                    font-size: 25px;
                    line-height: 0;
                }
            }
            small{
                font-weight: normal;
                font-size: 17px;
                line-height: 28px;
                text-align: center;
                letter-spacing: 0.03em;
                color: #223F59;
                @media (max-width:764px){
                    font-size: 12px;
                    line-height: 0;
                }
            }
            .countries_box{
                .country{
                    background: #F0F0F0;
                    border-radius: 16px;
                    width: 30%;
                    padding: 12px 10px 12px 25px;                
                    display: flex;
                    img{
                        width: 30px;
                        height: 30px;
                    }
                    p{
                        margin-bottom: 0;
                        margin-top: 5px;
                        margin-left: 25px;
                        font-size: 17px;
                        line-height: 28px;
                        text-align: center;
                        letter-spacing: 0.03em;
                        color: #223F59;
                    }
                }
            }
        }
    }

    .bdc_learn_background{
        background-image: url("../../../public/images/spiral-arrow.svg");
        background-size: contain;
        background-position: right;
        background-repeat: no-repeat;
        height: 15vh;
        padding: 4%;
        width: 95%;
        margin-top:3%;
    }

    .bdc_learn_content{
        position: relative;
        margin-top: -7%;
        width: 50%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        h4{
            font-family: FinancierDisplay;
            font-weight: bold;
            font-size: 50px;
            line-height: 61px;
            text-align: center;
            letter-spacing: 0.03em;
            color: #223F59;
            margin: 24px 0px;
        }
        p{
            font-weight: normal;
            font-size: 15px;
            line-height: 28px;
            text-align: center;
            letter-spacing: 0.03em;
            color: #223F59;
            margin: 24px 0px;
        }
    }

    .globe{
        -webkit-animation:spin 4s linear infinite;
        -moz-animation:spin 4s linear infinite;
        animation:spin 8s linear infinite;
        margin-bottom: 7%;
    }
    @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
    @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
    @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }