.mission_header_content{
    margin: 1em 10em;
    h4{
        font-family: FinancierDisplay;

        font-weight: bold;
        font-size: 50px;
        line-height: 61px;
        letter-spacing: 0.03em;
        color: #333333;
        margin: 24px 0px;
        span{
            color: #0BA759;
        }
    }
    p{
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.03em;
        color: #223F59;
    }
}

// .about_background{
//     background-image: url("../../../public/images/About_background.png");
//     background-size: cover;
//     background-position: inherit;
//     background-repeat: no-repeat;
//     height:fit-content;
//     width: 100%;
// }

.about_background{
    background-color: #f2f7fc;
    // height: 100vh;
}

.about_background_content{
    padding-top: 2em;
}

.our_core_values{
    display: grid;
    margin: 0 6em;
    padding-top: 2em;
    h5{
        font-family: FinancierDisplay;
        font-weight: bold;
        font-size: 50px;
        line-height: 61px;
        letter-spacing: 0.03em;
        color: #333333;
        margin: 24px 0px;
        span{
            color: #0BA759;
        }
    }
    small{
        font-size: 17px;
        line-height: 28px;
        letter-spacing: 0.03em;
        color: #223F59;
    }
    .group_img{
        width: 95%;
    }
    .mission_core_value_icons {
        display: grid;
        grid-template-columns: 1fr repeat(5, 1fr);
        grid-row-gap: 35px;
        p{
            font-size: 14px;
            margin-top: 15px;
        }
    }
}

.mission{
    margin-top: 4rem;
    margin-bottom: 4rem;
    h5{
        font-family: FinancierDisplay;
        font-size: 37px;
        line-height: 61px;
        letter-spacing: 0.03em;
        color: #0BA759;
        margin:15px 0px 1px 0px;
    }
    
    p{
        font-weight: 500;
        font-size: 19px;
        line-height: 30px;
        letter-spacing: 0.03em;
        color: #223F59;
    }
}

.absolute_images{
    margin-top: -19em;
    margin-left: 6em;
}

.another_image,
.sign_image{
    // margin-left: 50%;
    width: 120px;
}

.sign_image{
    left: 75%;
    margin-top: -12%;
    position: relative;
    padding-bottom: 5%;
}

.another_image{
    transform: rotate(180deg);
    position: absolute;
    margin-top: -40%;
    left: 15%;
}

.our_people{
    h5{
        font-weight: bold;
        font-size: 35px;
        line-height: 43px;
        letter-spacing: 0.01em;
        color: #0BA759;
        margin: 40px 0px;
    }
    li{
        list-style-type: none;
    }
    .active{
        color: #F97319;
    }
    .dotted{
        font-size: 50px;
        color: #F97319;
        margin-top: -40px;
    }
}

.board_of_directors{
    display: grid;
    grid-template-columns: 1fr repeat(3, 1fr);
    .plenty_images{
        width: 100%;
        padding: 10%;
        transition: transform .2s;
        &:hover{
            background-color: white;
            border-radius: 8px;
            box-shadow: 0px 8px 40px rgb(11 167 89 / 10%);
            transform: scale(1.1);
        }
        a{
            color: inherit;
            text-decoration: none;
        }
        img{
            width: 100%;
        }
        .board_name{
            margin: 16px 0;
            color: #0BA759;
        }
    }
}
