.navbarr {
    margin: 0 1.5em;
    margin-top: 1em;
    
    .navbar {
        padding: 0 !important;
        // background: #fff !important;
        .nav-item {
            margin-right: 1.5em !important;
            &:last-child {
                margin-right: 3em !important;
            }
        }
        &-toggler {
            padding: 0 !important;
            border: none !important;
        }
        #close-icon {
            width: 30px;
            height: 35px;
            position: relative;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .5s ease-in-out;
            -moz-transition: .5s ease-in-out;
            -o-transition: .5s ease-in-out;
            transition: .5s ease-in-out;
            cursor: pointer;
          }
          
        #close-icon span {
            display: block;
            height: 2px;
            width: 100%;
            background: #d3531a;
            border-radius: 2px;
            opacity: 1;
            left: 0;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .25s ease-in-out;
            -moz-transition: .25s ease-in-out;
            -o-transition: .25s ease-in-out;
            transition: .25s ease-in-out;
            margin-top: 5px;
          }
        
        
          /* Close Icon */
        
        #close-icon {
            padding: 2px;
        }
        
        #close-icon span:nth-child(1) {
          top: 0px;
          -webkit-transform-origin: left center;
          -moz-transform-origin: left center;
          -o-transform-origin: left center;
          transform-origin: left center;
        }
        
        #close-icon span:nth-child(2) {
          top: 18px;
          -webkit-transform-origin: left center;
          -moz-transform-origin: left center;
          -o-transform-origin: left center;
          transform-origin: left center;
        }
        
        #close-icon span:nth-child(3) {
          top: 36px;
          -webkit-transform-origin: left center;
          -moz-transform-origin: left center;
          -o-transform-origin: left center;
          transform-origin: left center;
        }
        
        #close-icon.open span:nth-child(1) {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -o-transform: rotate(45deg);
            transform: rotate(45deg);
            top: 1px;
            left: 1px;
            position: absolute;
        }
        
        #close-icon.open span:nth-child(2) {
          width: 0%;
          opacity: 0;
        }
        
        #close-icon.open span:nth-child(3) {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
          transform: rotate(-45deg);
          top: 22px;
          left: 1px;
          position: absolute;
        }
        
        button:focus {
            outline: none !important;
            
        }
    }
}
.short_nav {
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  .mr2 {
    margin-right: 2.5em;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #223F59;
  }
  ul {
    list-style: none;
    display: flex;
    padding-top: 2em;
    flex-direction: row;
    li {
        cursor: pointer;
    }
  }
  @media only screen and (max-width: 425px){
    /*Small smartphones [325px -> 425px]*/
  .mr2 {
    display: none;
  }
}
}